/*
  Name: Steve Kim
  Email: steven_kim@student.uml.edu
  GUI 1: Homework 9 Scrable
  Purpose: styling for index.html
*/
#game{
  top: 8em;
  margin: 0 auto;
  width: 700px;
}

#buttonrow{
  margin-left: 5em;
}

#submitWord{
  display:inline-block;
}

#submitWord > button{
  background-color: blue;
  color: white;
  border-radius: 25px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  border: 2px solid grey;
}

#Quit{
  display: inline-block;
}

#Quit > button{
  background-color: #FA8072;
  border-radius: 25px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  border: 2px solid grey;
}

#Score{
  font-family: Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-bottom: 1em;
  font-size: 3em;
}

#getNewTiles{
  display: inline-block;

}

#getNewTiles > button{
  background-color: #FA8072;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  border: 2px solid grey;
}

#startGame{
  display: inline-block;
}

#startGame > button{
  background-color: tan;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  border: 2px solid grey;
}

#tileHolder{
  margin-bottom: 10px;
}

.rows{
  display: grid;
}


.tiles{
  margin: 2px;
}

#tile1{
  /*border:2px dotted blue;*/
}

.draggable{
  border: 2px solid red;
}

#game{
  position: relative;
}

#tileHolder{
  position: relative;
  border-image:  30 round;
  z-index: 900;
  padding-top: 5px;
}

.tile-row{
  position: absolute;
  display: inline;
  z-index: 950;

  top: 55%;
  left: 2%;
}
