/*
  Name: Steve Kim
  Email: steven_kim@student.uml.edu
  GUI 1: Homework 9 Scrable
*/

.rows{
  display: inline;
}


.tiles{
  margin: 2px;
}

#tile1{
  border:2px dotted blue;
}

.draggable{
  border: 2px solid red;
}

#game{
  position: relative;
}

#tileHolder{
  position: relative;
  border-image:  30 round;
  z-index: 900;
  padding-top: 5px;
}

.tile-row{
  position: absolute;
  display: inline;
  z-index: 950;
  top: 48%;
  left: 2%;
}
