/*
Name: Steve Kim
Email: steven_kim@student.uml.edu
COMP 4610: Assignment 6
Date: 11.1.18
Description: makes a multiplication table from user input
*/

input{
  width: 5em;
}

td{
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}
